<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="BookFinder" version="3.0">

	<description>Book Finder, campus rent or sell</description>
	<display-name>Book Finder</display-name>

	<!-- General -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LongConn</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.LongConnRegServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>Signup</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.SignupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgotPwd</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.ForgotPwdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.LogoutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BookDetail</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.BookDetailServlet</servlet-class>
	</servlet>
	<!-- General End -->

	<!-- Post -->
	<servlet>
		<servlet-name>PostList</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.post.PostListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LikeAPost</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.post.LikeAPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestBook</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.post.RequestBookServlet</servlet-class>
	</servlet>
	<!-- Post End -->

	<!-- My Books -->
	<servlet>
		<servlet-name>MyBookList</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.mybooks.MyBookListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostOrEditBook</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.mybooks.PostEditBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestList</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.profile.RequestListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AcceptRequest</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.mybooks.AcceptRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeclineRequest</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.mybooks.DeclineRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeclineAll</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.mybooks.DeclineAllServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WithdrawRequest</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.mybooks.WithdrawRequestServlet</servlet-class>
	</servlet>
	<!-- My Books End -->

	<!-- Profile -->
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.profile.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<servlet-class>com.wilddynamos.bookappserver.servlet.profile.EditProfileServlet</servlet-class>
	</servlet>
	<!-- Profile End -->

	<!-- Mappings -->
	<!-- General -->
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LongConn</servlet-name>
		<url-pattern>/LongConn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Signup</servlet-name>
		<url-pattern>/Signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPwd</servlet-name>
		<url-pattern>/ForgotPwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BookDetail</servlet-name>
		<url-pattern>/GetBookDetail</url-pattern>
	</servlet-mapping>
	<!-- General End -->

	<!-- Post -->
	<servlet-mapping>
		<servlet-name>PostList</servlet-name>
		<url-pattern>/GetPosts</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LikeAPost</servlet-name>
		<url-pattern>/Like</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestBook</servlet-name>
		<url-pattern>/RequestBook</url-pattern>
	</servlet-mapping>
	<!-- Post End -->

	<!-- My Books -->
	<servlet-mapping>
		<servlet-name>MyBookList</servlet-name>
		<url-pattern>/GetMyBooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostOrEditBook</servlet-name>
		<url-pattern>/PostEditBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestList</servlet-name>
		<url-pattern>/GetRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AcceptRequest</servlet-name>
		<url-pattern>/AcceptRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeclineRequest</servlet-name>
		<url-pattern>/DeclineRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeclineAll</servlet-name>
		<url-pattern>/DeclineAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WithdrawRequest</servlet-name>
		<url-pattern>/WithdrawRequest</url-pattern>
	</servlet-mapping>
	<!-- My Books End -->

	<!-- Profile -->
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/EditProfile</url-pattern>
	</servlet-mapping>
	<!-- Profile End -->

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>