<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <description>rent sell</description>
  <display-name>Book</display-name>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LongConn</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.LongConnRegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostList</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.post.PostListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostDetail</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.post.PostDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LikeAPost</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.post.LikeAPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestBook</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.post.RequestBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.wilddynamos.bookappserver.servlet.DispatchRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/ServeUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LongConn</servlet-name>
    <url-pattern>/LongConn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostList</servlet-name>
    <url-pattern>/GetPosts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostDetail</servlet-name>
    <url-pattern>/GetPostDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LikeAPost</servlet-name>
    <url-pattern>/Like</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestBook</servlet-name>
    <url-pattern>/RequestBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
</web-app>